$main-white-color:#ffffff;
$header-hover-color: #fce38a;
$section-title-color: #333333;
$overlay-item-color: #fce38a;
$overlay-border-color: #f38181;
$input-box-color: #e5e5e5;
$input-button-color: #95e1d3;
$main-dark-color: #333333;
$main-gray-color: #999999;

